@* Бічне меню навігації *@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasmDotNet8AspNetCoreHosted.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="schedule" Match="NavLinkMatch.Prefix">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Розклад
        </NavLink>
        </div>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/schedule" Match="NavLinkMatch.Prefix">
                <span class="oi oi-wrench" aria-hidden="true"></span> Редактор розкладу
            </NavLink>
        </li>
        
        <div class="nav-item px-3 mt-2">
            <div class="text-uppercase small text-muted">Адмін</div>
        </div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/courses">Курси</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/lunch">Обід</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/calendar">Календар</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/groups">Групи</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/modules">Модулі</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/module-sequence">Послідовності</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/teachers">Викладачі</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/rooms">Аудиторії</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/buildings">Корпуси</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/lesson-types">Типи занять</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/admin/time-slots">Слоти часу</NavLink></div>
        <div class="nav-item px-3"><NavLink class="nav-link" href="/teacher-drafts">Графік викладачів</NavLink></div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}



